<extend name="Common/edit"/>
<block name="css">
    <link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css">
</block>
<block name="form">
    <div class="main-div">
        <form method="post" action="{:U()}">
            <table cellspacing="1" cellpadding="3" width="100%">
                <tr>
                    <td class="label">分类名称</td>
                    <td>
                        <input type='text' name='name' maxlength='60' value='{$name}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">父分类</td>
                    <td>
                        <input type='text' name='parent_id' maxlength='60' value='{$parent_id}'/> <span
                            class="require-field">*</span>
                        <style type="text/css">
                            .ztree {
                                margin-top: 10px;
                                border: 1px solid #617775;
                                background: #f0f6e4;
                                width: 220px;
                                height: 360px;
                                overflow-y: scroll;
                                overflow-x: auto;
                            }
                        </style>
                        <ul id="treeDemo" class="ztree"></ul>
                    </td>
                </tr>
                <tr>
                    <td class="label">分类简介</td>
                    <td>
                        <textarea name="intro" cols="60" rows="4">{$intro}</textarea> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否显示</td>
                    <td>
                        <input type='radio' class='status' name='status' value='1'/>是<input type='radio' class='status'
                                                                                            name='status' value='0'/>否
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <td colspan="2" align="center"><br/>
                    <input type="hidden" name="id" value="{$id}">
                    <input type="submit" class="button ajax_post" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
                </tr>
            </table>
        </form>
    </div>
</block>
<block name="js">
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript">
        $(function () {
            var setting = {
                data: {
                    simpleData: {
                        enable: true
                    }
                }
            };

            var zNodes = [
                {id: 1, pId: 0, name: "父节点1 - 展开", open: true},
                {id: 11, pId: 1, name: "父节点11 - 折叠"},
                {id: 111, pId: 11, name: "叶子节点111"},
                {id: 112, pId: 11, name: "叶子节点112"},
                {id: 113, pId: 11, name: "叶子节点113"},
                {id: 114, pId: 11, name: "叶子节点114"},
                {id: 12, pId: 1, name: "父节点12 - 折叠"},
                {id: 121, pId: 12, name: "叶子节点121"},
                {id: 122, pId: 12, name: "叶子节点122"},
                {id: 123, pId: 12, name: "叶子节点123"},
                {id: 124, pId: 12, name: "叶子节点124"},
                {id: 13, pId: 1, name: "父节点13 - 没有子节点", isParent: true},
                {id: 2, pId: 0, name: "父节点2 - 折叠"},
                {id: 21, pId: 2, name: "父节点21 - 展开", open: true},
                {id: 211, pId: 21, name: "叶子节点211"},
                {id: 212, pId: 21, name: "叶子节点212"},
                {id: 213, pId: 21, name: "叶子节点213"},
                {id: 214, pId: 21, name: "叶子节点214"},
                {id: 22, pId: 2, name: "父节点22 - 折叠"},
                {id: 221, pId: 22, name: "叶子节点221"},
                {id: 222, pId: 22, name: "叶子节点222"},
                {id: 223, pId: 22, name: "叶子节点223"},
                {id: 224, pId: 22, name: "叶子节点224"},
                {id: 23, pId: 2, name: "父节点23 - 折叠"},
                {id: 231, pId: 23, name: "叶子节点231"},
                {id: 232, pId: 23, name: "叶子节点232"},
                {id: 233, pId: 23, name: "叶子节点233"},
                {id: 234, pId: 23, name: "叶子节点234"},
                {id: 3, pId: 0, name: "父节点3 - 没有子节点", isParent: true}
            ];

            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });
    </script>
</block>